* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(187, 187, 187);
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(66, 60, 70);
}

header {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    background-color: rgb(66, 60, 70);
}

header > section {
    flex: 20%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4px;
}

#logo {
    cursor: pointer;
    color:rgb(194, 143, 4);
}

header > aside {
    flex: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    display: flex;
    margin-top: 300px;
    justify-content: center;
    align-items:flex-start;
    height: 80%;
    width: 90%;
}

.root > aside {
    flex: 15%;
}


#loggedInMain {
    display: flex;
    flex-flow: column nowrap;
    flex: 70%;
    display: flex;
    justify-content:start;
    align-items: center;
}

#regForm > div{
    padding: 5px;
}

#regForm > h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#centeredBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper > p {
    padding: 5px;
}

#userMenu {
    text-transform: uppercase;
    list-style: none;
}

#userMenu > li {
    margin: 7px;
    cursor: pointer;
}
.bold {
    text-transform: uppercase;
    font-weight: 300;
}

.button, button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 2px solid rgb(194, 143, 4);
    border-radius: .3rem;
    text-shadow: 0px 0px 0px transparent;
    padding: 2px 4px;
    margin: 7px;
    color:rgb(66, 60, 70);
}

input {
    background-color: #ffffffab;
}

.main-text {
    font-weight: 300;
    font-size: 2rem;
}

#logInBtn, #regBtn, #logOutBtn {
    color: rgb(194, 143, 4);
}